<p style="color: green"><%= notice %></p>

<%= render @restaurant %>

<h2>Reviews:</h2>
<% if @restaurant.reviews.size > 0 %>
  <% @restaurant.reviews.each do |review| %>
    <p>Rating: <%= "⭐️" * review.rating %></p>
    <p><%= review.content %></p>
  <% end %>
  <p><%= link_to "Leave a review", new_restaurant_review_path(@restaurant) %></p>
<% else %>
  <p><%= link_to "Be the first to review this restaurant", new_restaurant_review_path(@restaurant) %></p>
<% end %>

<div>
  <%= link_to "Back to restaurants", restaurants_path %>
</div>
