<p style="color: green"><%= notice %></p>

<%= render @restaurant %>

<h2>Reviews:</h2>
<% if @restaurant.reviews.size > 0 %>
  <% @restaurant.reviews.each do |review| %>
    <p>Rating: <%= "⭐️" * review.rating %></p>
    <p><%= review.content %></p>
  <% end %>
  <h4>Leave a review for <%= @restaurant.name %>:</h4>
  <div class="container">

    <%= render "review_form", review: @review %>
  </div>

<% else %>
  <h4>Be the first to review <%= @restaurant.name %>:</h4>
  <div class="container">

    <%= render "review_form", review: @review %>
  </div>
<% end %>

<div>
  <%= link_to "Back to restaurants", restaurants_path %>
</div>
